// PREFIX
@mixin prefix($property, $value, $prefixes: ("-webkit-","-moz-","-o-","-ms-","")) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}

// NEW COLORS

// COLOR VARS
$lightblue: #45adf5;
$blue: #3b86ba;
$darkblue: #184a78;
$dotblue: #3d86bb;
$clickred: #ee2a24;
$red: #e42726;
$grey: #f2f0f2;
$darkred: #a41b1b;
$darkgrey: #666;
$lightred: #fa3939;

// FORM BUTTON COLORS
$btn-grey: #878889;
$btn-blue: $dotblue;
$btn-border: #acbdc8;
$btn-shadow: #404c57;
$btn-shadow-active: #1d4b77;
$submitblue: #41729e;
$submitgrey: #b2b3b4;

// TSHIRT COLORS FOR FORM PICK
$tshirt-color-1: #cbc9c9;
$tshirt-color-2: #f3efef;

// NAV DOTS TSHIRT
$dotblue: $lightblue;
$dotgrey: $grey;

$tablet-width:680px;
$desktop-width:960px;