.start-over-holder {
    margin:30px auto 0 auto;
    text-align: center;

    @media(min-width:640px){ margin:40px auto 0 auto; }

    .start-over-btn {
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        background-color:black;
        padding:0 1.8em;
        color:#ffffff;
        margin-bottom: 20px;

        @include prefix(transition, all 200ms);

        &:hover {
            
            background-color: $clickred;
        }

        @media (max-width: 650px) {
            padding: 0.4em 1em;
            font-size: 1em;
        }
    }
}