// NEW HEADER SVGS
.svg-holder {
    width:100%;
    max-width: 640px;
    position:absolute;
    top:2%; 
    left:0; right:0;
    margin:0 auto;
}

.snow-container {  padding-bottom:65.5%; }

@media (min-width: 640px) {
    .snow-container { padding-bottom: 418px; }
}

.cta span {
    display: inline-block;
    margin: 0 auto;
    clear: both;
    background-color: #fff;
    position: relative;
    z-index: 1;

    &:first-of-type {
        padding:0 1em;
    }
}

// MAKE NEW INLINESVG RESPONSIVE
svg#Layer_1 {
    width: 100%;
    height: 100%;
}

// HIDE BG SVG IF NOT IE
#header-container .svg-holder > .new-header {
    display: none;
}