// NEW FORMS
.gift-code-form {
    text-align: center;

    input[type="submit"]{
        display: block;
        padding:0 2em;
        margin:.8em auto;
    }
    
    input[type="text"]{
        text-align: center;
        color:$blue;
        margin:0 auto;
        text-transform: uppercase;
        letter-spacing: .1em;
        width:100%;

         @media(min-width: 480px) { 
            max-width: 380px;
        }
    }
}

// STYLE PLACE HOLDER TEXT FOR INPUTS
::-webkit-input-placeholder { color: #b2b3b4; letter-spacing: normal; text-align: center; font-weight:300; letter-spacing: .1em; }
:-moz-placeholder{ color: #b2b3b4; letter-spacing: normal; text-align: center; font-weight:300; letter-spacing: .1em;}
::-moz-placeholder{ color: #b2b3b4; letter-spacing: normal; text-align: center; font-weight:300; letter-spacing: .1em; }
:-ms-input-placeholder{ color: #b2b3b4; letter-spacing: normal; text-align: center; font-weight:300;  letter-spacing: .1em;}