// QUESTIONS
.path-section h1, h1{
    font-family: "proxima-nova-alt-ext-cond",sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color:$blue;
    text-align: center;
    font-size:1.8em; 
    line-height: .9em;
    margin-top:0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right:auto;
    max-width: 90%;

    @media(min-width: 460px) { font-size: 2.8em; max-width:440px; }
    @media(min-width: 700px) { font-size: 3.6em; max-width:700px; margin-bottom: 20px; margin-top:10px;}
    @media(min-width: 960px) { font-size: 4.0em; }
}

#page-container > h5 {
    color:$red;
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    margin:0 auto .5em;
    font-size: 1.2em;

    @media(min-width: 481px) { 
        margin: .67em auto; 
        font-size: 1.5em;
    }

    @media(min-width: 640px) { font-size:1.75em; }
}

.path-section {
    padding: 0 .35em;
    @media(min-width: 481px) { padding: 0 1.5rem; }
}

ul.answer-list, ul.tshirt-slides {
    li{
        a{
            .question-label{

                h4 {
                    font-family: "proxima-nova-alt-ext-cond",sans-serif;
                    text-transform: uppercase;
                    color:$darkblue;
                    font-weight: 800;
                    text-align: center;
                    font-size:1.5em; line-height: 1em;
                    background-color: #fff;
                    border:3px solid $darkblue;
                    padding: 18px 10px 14px;
                    
                    @include prefix(box-shadow, 6px 6px 0 0 #ffffff );
                    @include transition(all .1s ease-in-out);
                    
                    @media(min-width: 460px) { font-size: 2em; }
                    @media(min-width: 640px) { 
                        font-size: 2.9em; 
                        padding:26px 20px 20px;
                    }
                }
            }
        }
    }
}

//NUMBERS
ul.answer-list, ul.tshirt-slides {
    counter-reset: list-counter;

    li { counter-increment: list-counter; }
    
    .question-label { 
        margin-top:1.0em; 
        margin-bottom: 1em;

        @media(min-width: 640px){ margin-top:1.5em; }
    }

    .question-label:before {
        content: counter(list-counter);
        display: block;
        border-radius: 20px;
        background-color: $red;
        font-family: Georgia, serif;
        color:white;
        font-style: italic;
        margin:0 auto;
        text-align: center;
        padding:0;
        position: absolute;
        left: 0; right: 0;
        z-index: 2;
        vertical-align: middle;
        line-height: 27px;
        font-size: 1.8em;
        width: 40px; height: 40px;
        border:2px solid #fff;

        @media(min-width: 640px){ 
            border-radius: 25px;
            font-size: 2em;
            line-height: 38px;
            width: 50px; height: 50px;
            margin-top: -5px;
        }
    }
}