// TSHIRT FORM
.form-txt {
    color:$red;
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    margin:.8em 0 .2em 0;
    font-size: 1.2em;

    @media(min-width: 640px) { 
        font-size: 1.8em;
        margin:1.5em 0 .5em 0; 
    }
}

// SIZE
// HIDE RADIO BUTTONS TO STYLES LABELS
input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.form-btn {
	font-family: "proxima-nova-alt-ext-cond",sans-serif;
	text-transform: uppercase;
	background-color:$btn-grey;
	color:#ffffff;
	font-size:1.6em; 
    line-height: 2em;
    padding:0 .7em;
    border:1px solid white;
    letter-spacing: .03em;

    @media(min-width: 640px){ 
    	font-size: 2.3em; 
    }
}

.sending form{
	opacity:.5;
}

.success form{
	display:none;
}

#order-complete{
	display:none;
}
.success #order-complete{
	display:block;
}

.tshirt-form { 
	text-align: center; 

	input[type=radio] + label {
		cursor: pointer;
		@include prefix(transition, all 200ms);
	}
}

#tshirt-form > div.tshirt-color-holder.clearfix > label {
	cursor: pointer;
	margin:0 .075em;

	@include prefix(transition, all 200ms);
}

.tshirt-size-holder {
	display: inline-block;

	input[type=radio] + label {
		&:hover { background-color: $darkblue; }
	}

	input[type=radio]:checked + label {
		background-color: $btn-blue;
	}
}

.txt-holder {
	max-width:800px;
	margin: 0 auto;

	label {
		clear: both;
		display: block;
		text-transform: capitalize;

		font-weight:300;
		color:$darkblue;
	    margin:.75em 0 .25em;
	    font-size: 1.2em;

	    @media(min-width: 640px) { 
	        margin: .67em auto .25em; 
	        font-size: 1.8em;
	    }
	}

	input[type=text], select {
		width: 100%;
		margin:0 auto;
		border-radius:6px;
		border:1px solid $submitgrey;
        padding:0 14px;
        font-weight: 300;
        font-size: 1.2em; line-height: 3.4em; 
        height: 3.4em;
        color: #b2b3b4;

        @include prefix( box-shadow, none );

		@media(min-width: 600px) { font-size: 1.4em; line-height: 3.8em; height: 3.8em; }

		&:focus, &:active{
			border-color:$blue;
			color: $blue;
		}

		&.error{
			border-color:$red !important;
		}
	}

	.state-zip-holder {
		.zip-holder, .state-holder {
			width:50%;

			label, select, input {
				width:100%;
			}
		}

		.zip-holder {
			float: right;

			.input-inner{
				padding-left:10px;
			}
		}

		.state-holder {
			float: left;

			.input-inner{
				padding-right:10px;
			}
		}

		select.state {
            background-color: transparent;
			-webkit-appearance: none;  /*Removes default chrome and safari style*/
			-moz-appearance: none; /* Removes Default Firefox style*/
			appearance: none;
			border-radius:6px;
		}
	}
}

input[type=submit] { 
	font-weight: 600;
	background-color:$submitblue;
	margin:20px auto 20px auto;
	padding:0 2em;

	@include prefix(transition, all 200ms);

	&:hover {
		background-color: $darkblue;
	}
}