// IMPORT WEN MIXINS
@import 'wen_styles/mixins.scss';

$icon-font-path: "/vendor/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'vendor/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

/* ============================================================
  FONTS
============================================================ */
@font-face {
    font-family: "gotham-light";
    src: url('../fonts/gotham-light.eot');
    src: url('../fonts/gotham-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-light.woff') format('woff'),
         url('../fonts/gotham-light.ttf') format('truetype'),
         url('../fonts/gotham-light.svg#gothamLight') format('svg');
}
@font-face {
    font-family: "gotham-book";
    src: url('../fonts/gotham-book.eot');
    src: url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book.woff') format('woff'),
         url('../fonts/gotham-book.ttf') format('truetype'),
         url('../fonts/gotham-book.svg#gothamBook') format('svg');
}
@font-face {
    font-family: "gotham-bold";
    src: url('../fonts/gotham-bold.eot');
    src: url('../fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold.woff') format('woff'),
         url('../fonts/gotham-bold.ttf') format('truetype'),
         url('../fonts/gotham-bold.svg#gothamBold') format('svg');
}

body,html,ul,li{
    margin:0;
    padding:0;
    overflow: hidden;
    font-family: "gotham-light", serif;
    font-size: 20px;
}
html{ overflow: auto; }
ul{ list-style: none; }
li{ display: inline-block; }
html, body { overflow-x:hidden; }

:focus{
    outline: none;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; /* For IE 6/7 (trigger hasLayout) */ }
.error{
    // font-family: Georgia, serif;
    font-family: 'gotham-light';
    font-style: italic;
    text-transform: none;
    margin-top: -22px;
    display: block;
    // letter-spacing: -.01em;
    margin-bottom: 15px;
    color: $clickred;
}

#order-form .error {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
}

a, a:visited{
    cursor: pointer;
    text-decoration: none;
}

body.page-tshirt, body.page-complete{
    #footer, #header-container, .parallax-2, .gift-code-form {
        display: none;
    }
}

.disable-hover,
.disable-hover *{
    pointer-events: none !important;
}

hr{
    margin:0 auto;
    padding:0;
    border: 0;
    border-top: 1px solid $red;
    max-width: 80%;

    @media (min-width: 640px) {
        max-width: 580px;
    }
}

#page-container{
    padding:0 0 0 0;
    width: 100%;
    position:relative;
    z-index: 2;

    .page-content{
        opacity:1;
        margin:0 auto;
        // max-width: 1200px;

        @include transition(opacity .2s ease-in-out);

        &.ready{
            opacity:1;
        }

        hr{
            border-top:2px solid $red;
        }
    }
}

/******************************************************************
Answer List and Tshirt Slider
******************************************************************/
div.question{
    opacity: 0;
    display: none;

    &.active{
        opacity: 1;
        display: block;
    }
}

ul.answer-list{
    margin:0 0 0 0;
    padding:0 0 0 0;
    text-align:center;

    li{
        padding:0;
        width: 100%;
        vertical-align: top;
        line-height: 0;
        opacity: 0;

        @include transition(opacity .4s ease-in-out);
        
        @media(min-width: 680px) { width:50%; }
        @media(min-width: 920px) { width:40%; }

        .answer-inner{
            background-color:white;
            border:6px solid white;
            opacity:1;

            @include transition(border .1s ease-in-out);
        }

        a{
            display: inline-block;
            position: relative;
            height: 0;
            width: 100%;
            padding-bottom:80%;

            background-color:#EEE;
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center center;

            @media(min-width: 680px) { padding-bottom:100%; }

            .question-label{
                position: absolute;
                left: 0; right: 0;
                margin-left: auto;
                margin-right: auto;

                .question-label-inner{ padding:10px; }

                h4{
                    
                }
            }
        }

        &:hover{
            .answer-inner{
                border:6px solid $darkblue;
            }

            a{
                .question-label{
                    h4{
                        @include prefix(box-shadow, none );
                    }
                }
            }
        }

        &.active{
            .answer-inner{
                border:6px solid $lightblue;
            }

            a{
                .question-label{
                    h4{
                        @include prefix(box-shadow, none );
                    }
                }
            }
        }
    }
}

body.mobile, body.ipad{
    ul.answer-list{
        li{
            &:hover{
                .answer-inner{
                    border:6px solid white;
                }

                a{
                    .question-label{
                        h4{
                            @include prefix(box-shadow, 6px 6px 0 0 #ffffff );
                        }
                    }
                }
            }

            &.active{
                .answer-inner{
                    border:6px solid $lightblue;
                }
            }
        }
    }
}

@import 'wen_styles/loader.scss';
@import 'wen_styles/header.scss';
@import 'wen_styles/questions.scss';
@import 'wen_styles/tshirt.scss';
@import 'wen_styles/tshirt-form.scss';
@import 'wen_styles/new-forms.scss';
@import 'wen_styles/video.scss';
@import 'wen_styles/ie.scss';
